{% extends 'AlbatrossUserBundle:Default:layout_v2.html.twig' %}
{% block title %}
Admin page
{% endblock %}
{% block pageHeading 'Administration' %}
{% block breadcrumb %}
    <li class="active">Administration</li>
{% endblock %}
{% block body %}
    <div class="tab-widget">
        {{ render(controller('AlbatrossUserBundle:Admin:menu', {'active': 'user' })) }}
        <div class="tab-content" style="padding:20px;">
        <h3>Welcome, <br />this is <span style="color:blue;">Admin page</span></h3>
        </div>
    </div>
{% endblock %}