{% extends 'AlbatrossUserBundle:Default:layout.html.twig' %}
{% block title %}
Admin page
{% endblock %}
{% block content %}
            <h1>Welcome, <br />this is <span style="color:blue;">Admin page</span></h1>
{% endblock %}
