<img class="logo" alt="Albatross" src="{{ asset('/images/b_logo.gif') }}">
<p class="slogan">
    Winning the
    <span class="desc">heart and the mind</span>
    of your customers through a
    <span class="desc"> better experience </span>
    of your brand
</p>
<div class="copyright">© 2008 Albatross. All rights Reserved</div>